  <mat-card class="result" *ngIf="result != undefined">
  <mat-card-header> 
    <mat-card-title>{{result.title_ppal}}</mat-card-title>
    <mat-card-subtitle>{{result.test_title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> 
      {{result.test_description}}
    </p>
  </mat-card-content>
  </mat-card>


<div class="articles-content">
  <mat-card class="articles" *ngFor="let i of articles">
  <mat-card-header> 
    <mat-card-title>{{i.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="i.image" alt="">
  <mat-card-content>
    <p> 
      {{i.url_article}}
      {{i.description}}
    </p>
  </mat-card-content>
  </mat-card>
</div> 

<div class="testimony" *ngIf="result.testimony != undefined">
  <mat-card *ngFor="let i of result.testimony" >
    <mat-card-header >     
      <mat-card-title>{{result.title_testimony}}</mat-card-title>
      <mat-card-subtitle>{{i.name}}</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image [src]="i.image" alt="">
      <img mat-card-image [src]="i.service_image" alt="">
    <mat-card-content>
      <p>{{i.text}} </p>
      <p>{{i.is_visible}} </p> 
      <p>{{i.image_id}} </p>
      <p>{{i.alt_image}} </p>  
      <p>{{i.service_alt_image}} </p>  
    </mat-card-content>
  </mat-card>
</div> 

<div class="categories-content">
  <mat-card class="categories" *ngFor="let i of categories">
    <mat-card-header>
      <mat-card-title>{{i.name}}</mat-card-title>
      <mat-card-subtitle>{{i.slug}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="i.icon" alt="">
    <mat-card class="services" *ngFor="let service of i.services">
      <p>{{service.id}}</p>
      <p>{{service.name}}</p>
      <p>{{service.slug}}</p>
      <p>{{service.summary}}</p>
      <p>{{service.short_description}}</p>
      <img class="image" [src]="service.image" alt="">
      <p>{{service.alt_image}}</p>
      <img class="image" [src]="service.icon" alt="">
      <p>{{service.alt_icon}}</p>
      <img class="image" [src]="service.icon_2" alt="">
      <p>{{service.alt_icon_2}}</p>
      <p>{{service.price}}</p>
    </mat-card>
  </mat-card>
</div>

 <!-- <div class="services" *ngFor="let i of categories.services">
  <p>{{i.id}}</p>
  <p>{{i.name}}</p>
  <p>{{i.slug}}</p>
  <p>{{i.summary}}</p>
  <p>{{i.short_description}}</p>
  <img [src]="i.image" alt="">
  <p>{{i.alt_image}}</p>
  <img [src]="i.icon" alt="">
  <p>{{i.alt_icon}}</p>
  <img [src]="i.icon_2" alt="">
  <p>{{i.alt_icon_2}}</p>
  <p>{{i.price}}</p>
</div>  -->


